<!-- ABOUT SECTION STARTS -->
<section id="about">
  <div class="container">
    <h2 class="section-heading" data-outline="About">About</h2>
    <div class="wrapper">
      <div class="left">
        <div class="card">
          <div class="img">
            <img src="static/images/comp.jpg" />
          </div>
          <p class="card-desc">{{company.info}}</p>
          <h3 class="card-name">{{company.name}}</h3>
          <p class="card-sub-title">{{company.post}} of the company</p>
        </div>
      </div>

      <div class="right">
        <p class="subheading">Hi! This is {{person.name}}</p>
        <h2 class="slogan">{{person.post}}</h2>
        <p class="right-text">{{person.desc}}</p>
        <div class="buttons">
          <a href="#" class="primary-btn">Download CV</a>
          <a href="#projects" class="primary-btn outline">See My Works</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT SECTION ENDS -->
