<!-- FOOTER SECTION STARTS -->
<section id="footer">
  <div class="container">
    <footer>
      <div class="col-1">
        <h2 class="column-heading">Important <br />Links</h2>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#timeline">Timeline</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h2 class="column-heading">Contact <br />Info</h2>
        <ul>
          <li>
            <a href="mailto:kabirgtm@gmail.com">{{detail.email}}</a>
          </li>
          <li><a href="#">{{detail.phone}}</a></li>
          <li><a href="#">{{detail.location}}</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="column-heading">Social <br />Links</h2>
        <ul>
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</section>

<section id="copyright">
  <div class="container">
    <p>&copy; Copyright 2021 KABIR. All right reserved</p>
  </div>
</section>
<!-- FOOTER SECTION ENDS -->
