<section id="hero">
  <div class="container">
    <div class="left">
      <p class="subheading">I'm {{person.name}}</p>
      <h2 class="heading">
        <div class="wrapper"><span>A</span></div>
        <div class="wrapper"><span>Freelance</span></div>
        <div class="wrapper"><span>Developer</span></div>
      </h2>
      <p class="desc">
       {{person.desc}}
      </p>
      <div class="button">
        <a href="#contact" class="primary-btn">Hire Me</a>
      </div>
    </div>
    <div class="right">
      <img src="static/images/1.jpg" />
    </div>
  </div>
</section>
