  {%load static %}
  
  <!-- SCROLL TO TOP BUTTON -->
    <div class="scroll-top">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--  END SCROLL TO TOP BUTTON -->

    <!-- NAVIGATION SECTION STARTS-->
    <section id="navigation">
      <div class="nav-icon">
        <i class="fas fa-bars"></i>
      </div>
    </section>
    <section id="nav-content">
      <div class="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <div class="wrapper">
        <h2 class="section-heading" data-outline="Menu">Menu</h2>
        <nav>
          <ul>
            <li><a data-text="Home" href="#">Home</a></li>
            <li><a data-text="About" href="#about">About</a></li>
            <li>
              <a data-text="Services" href="#services">Services</a>
            </li>
            <li>
              <a data-text="Timleline" href="#timeline">Timleline</a>
            </li>
            <li>
              <a data-text="Projects" href="#projects">Projects</a>
            </li>
            <li><a data-text="Contact" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <!-- NAVIGATION SECTION STARTS-->