{% extends 'main.html' %} {% load static %} {% block content %}


  {% include 'navigation.html' %}


<section id="projects">
  <div class="container">
    <h2 class="section-heading" data-outline="Projects">Projects</h2>
    <div class="all-items">
      <div class="item">
        <div class="left">
          <div class="img">
            <img src="project-1.jpg" />
          </div>
        </div>
        <div class="right">
          <h2 class="project-title">Lorem ipsum dolor sit amet.</h2>
          <h3 class="project-sub-title">Lorem ipsum dolor sit amet.</h3>
          <p class="project-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            molestias vitae officia non! Ullam minima molestias non modi quod.
            Eum?
          </p>
          <div class="buttons">
            <a href="#" class="primary-btn">Know More</a>
            <a href="#" class="primary-btn outline external-link"
              ><span>Preview</span>
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <div class="img">
            <img src="project-1.jpg" />
          </div>
        </div>
        <div class="right">
          <h2 class="project-title">Lorem ipsum dolor sit amet.</h2>
          <h3 class="project-sub-title">Lorem ipsum dolor sit amet.</h3>
          <p class="project-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            molestias vitae officia non! Ullam minima molestias non modi quod.
            Eum?
          </p>
          <div class="buttons">
            <a href="#" class="primary-btn">Know More</a>
            <a href="#" class="primary-btn outline external-link"
              ><span>Preview</span>
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="left">
          <div class="img">
            <img src="project-1.jpg" />
          </div>
        </div>
        <div class="right">
          <h2 class="project-title">Lorem ipsum dolor sit amet.</h2>
          <h3 class="project-sub-title">Lorem ipsum dolor sit amet.</h3>
          <p class="project-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            molestias vitae officia non! Ullam minima molestias non modi quod.
            Eum?
          </p>
          <div class="buttons">
            <a href="#" class="primary-btn">Know More</a>
            <a href="#" class="primary-btn outline external-link"
              ><span>Preview</span>
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}

{% endblock %}
