{% extends 'main.html' %} {% load static %} {% block content %}


  {% include 'navigation.html' %}


 <!-- SERVICES SECTION STARTS -->

    <section id="services">
      <div class="container">
        <h2 class="section-heading" data-outline="Services">Services</h2>
        <div class="all-items">
          <div class="item">
          
            <i class="fas fa-laptop"></i>
            <h3 class="item-heading">Web Designing</h3>
            <p class="item-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quisquam alias tenetur quis modi placeat a fugit
              earum cum quidem.
            </p>
          </div>

          <div class="item">
            <i class="fas fa-laptop-code"></i>
            <h3 class="item-heading">Web Development</h3>
            <p class="item-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quisquam alias tenetur quis modi placeat a fugit
              earum cum quidem.
            </p>
          </div>

         <div class="item">
            <i class="fas fa-mobile"></i>
            <h3 class="item-heading">Android Development</h3>
            <p class="item-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quisquam alias tenetur quis modi placeat a fugit
              earum cum quidem.
            </p>
          </div> 
        </div>
      </div>
    </section>
    <!-- SERVICES SECTION ENDS -->


{% include 'footer.html' %}
{% endblock %}